.clsMainPage{
    // border: 1px solid blue;
    margin-top: 0px;
    padding-top: 0ch;
}
.clsMainPage{
   
    margin-bottom: 0px !important;
    padding-bottom: 0px !important;
}
.clsMainPage1 .navbar
{
    margin-bottom:0px !important;
}